body{ background-color: #b4eaff;
}
div.container{
  margin: 0 auto;
  width: 34.5%;
}


.menu{ margin:0; width:100%; position:sticky; }
nav{ width: 20%; height: 400px; background:#e2e0e0;}
ul.horizontal{
  list-style-type:none;
  padding: 0;
  margin: 0;
  overflow:hidden;
  background-color: #ffffff;
}
ul.horizontal li { float: left; }
ul.horizontal li a{
  display: block;
  text-decoration: none;
  color:#4639ff;
  padding: 15px;
  text-align:center;
}
ul.horizontal li a:hover{ background-color: #b9aeae; }

div.box{
  display:inline-block;
  width:200px;
  float:left;
  border: 2px solid #ddd;
  margin: 10px;
}
div.box img{
  width:100%;
  height: 250px;
}
div.box:hover{
  border: 3px solid #000;
}
div.box div.deskripsi{
  padding:15px;
  text-align:center;
}